* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #24252A;
}

h2 {
    display: inline-block;
    color: violet;
    margin-left: 300px;
    /* Adjust the margin value as needed */
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    transform: translateX(-130px);
}

.nav__links li {
    margin-right: 20px;
}

.nav__links li:last-child {
    margin-right: 0;
}

.nav__links li a {
    color: #edf0f1;
    text-decoration: none;
}

h2:hover {
    color: violet;
    text-decoration: none;
    cursor: default;
}